html{
    width: 100%;
}

body{
    width: 100%;    
}

.header{
    display: flex;
    width: 100%;
}

.header_left{
    width: 25%;
}

.top_btn{
    height: 78px;
    width: 275px;
}

.country_image {
    position: relative;
    text-align: center;
    width: 50%;
}

.country_img {
    display: inline;
}
.country_name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border:  solid 2px;                             
    display:  inline-block;                         
    padding: 10px 20px;                             
    color: red;
    font-size: 1.5em;
}

.category_create{
    width: 25%;
}

.create_btn{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    color: black;
    width: 220px;
    height: 40px;
}

.category_option{
    margin-top: 50px;   
}

.post_container{
    width:100%;
    background-color: beige;
    position: relative;
}

.title_name{
    border-bottom: 2px solid black;
    display: flex;
    height: 70px;
    position: relative;
}

.title{
    font-size: 4ex;
    background-color: red;
    height: 100%;
    text-align:center;
    line-height:60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.name{
    background-color: blue;
    height:50%;
    position: absolute;
    right: 20px;
}

.post{
    border: 2px solid black;
    background-color: pink;
    width:50%;
    margin: 25px 25%;
}

.body p{
    white-space: pre-wrap;
}

.image{
    border-bottom: 2px solid black;
    height: 400px;
    position: relative;
}

.category{
    border-bottom: 2px solid black;
    text-align: center;
}

.post_image{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

