html{
    width: 100%;
}

body{
    width: 100%;
    position: relative;
}

.header{
    display: flex;
    width: 100%;
}

.header_left{
    width: 25%;
}

.header_middle{
    width: 50%;
    text-align: center;
    position: relative;
}

.header_right{
    text-align: center;
    width: 25%;
}

.top_btn{
    height: 78px;
    width: 275px;
}

.auth_user_name{
    margin-top: 20px;
    font-size: 20px;
}


.country_img {
    display: inline;
}

.country_name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border:  solid 2px;                             
    display:  inline-block;                         
    padding: 10px 20px;                             
    color: black;
    background:rgba(255,255,255,0.4);
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
}

.create_btn{
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    color: black;
    width: 220px;
    height: 40px;
    margin-top: 30px;
}

.category_option{
    margin-top: 10px;
    border: solid 1px;
}

.post_container{
    width:100%;
    position: relative;
}

.title_name{
    border-bottom: 1px solid black;
    display: flex;
    height: 70px;
    position: relative;
}

.title{
    font-size: 4ex;
    height: 100%;
    text-align:center;
    line-height:60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.name{
    height:50%;
    position: absolute;
    right: 20px;
}

.post{
    border: 1px solid black;
    width:50%;
    margin: 25px 25%;
}

.body p{
    white-space: pre-wrap;
}

.image{
    border-bottom: 1px solid black;
    height: 400px;
    position: relative;
}

.category{
    border-bottom: 1px solid black;
    text-align: center;
}

.post_image{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.no_posts{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.back_btn {
    width: 34px;
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
}

.back_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.pagination li {
    display: inline-block;
}

.footer{
  margin-left: 100px;
  margin-bottom: 50px;
}

a.no_posts_back_btn{
    position: fixed;
    bottom: 100px;
    width: 34px;
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
}

a.no_posts_back_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
    background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
    background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

/*detail画面のedit,deleteボタンの位置*/
.detail_btn{
    margin-left: 25%;
    margin-bottom: 20px;
}